@model IndexModel
@{
    ViewData["Title"] = "Veterinary";
}
<section id="home" class="d-flex justify-content-center">
    <article class="d-flex flex-column align-items-center">
        <div>
            <h1 class="display-1">Veterinary Beautiful Pets</h1>
        </div>
        
        <div>
            <p>
                In a quaint corner of the neighborhood, [Your Veterinary Clinic Name] has become a beloved fixture. Founded
                by Dr. aibo with a heartfelt mission, the clinic offers expert and compassionate care to every
                pet that visits.

                Inside, the clinic exudes warmth and care, with friendly staff dedicated to treating each animal like their
                own. From routine check-ups to emergency care, [Your Veterinary Clinic Name] is a place where pets receive
                top-notch attention and love.

                Here, it's not just about medical care; it's about nurturing the special bond between pets and their owners.
                Each visit tells a story of dedication and kindness, making nice pets a trusted haven
                for the community’s furry friends.
            </p>
        </div>
    </article>
</section>
