@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinary";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <section>
            <article class="d-flex align-item-center flex-column">
                <h2>Sign in your new student</h2>
                <form class="w-50">
                    <div class="mb-3">
                        <label for="input-name" class="form-label">Name: </label>
                        <input type="text" class="form-control" id="input-name">
                    </div>
                    <div class="mb-3">
                        <label for="input-surname" class="form-label">Surname: </label>
                        <input type="text" class="form-control" id="input-surname">
                    </div>
                    <div class="mb-3">
                        <label for="input-height" class="form-label">Height(CM): </label>
                        <input type="number" class="form-control" id="input-height">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </article>
        </section>

</body>

</html>