@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinary";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <section>
            <article class="d-flex align-item-center flex-column">
                <h2>Sign in your new pet</h2>
                <form class="w-50">
                    <div class="mb-3">
                        <label for="pet-input-photo" class="form-label">Pet image: </label>
                        <input type="text" class="form-control" id="pet-input-photo">
                    </div>
                    <div class="mb-3">
                        <label for="pet-input-name" class="form-label">Pet name: </label>
                        <input type="text" class="form-control" id="pet-input-name">
                    </div>
                    <div class="mb-3">
                        <label for="pet-input-description" class="form-label">Description: </label>
                        <input type="text" class="form-control" id="pet-input-description">
                    </div>
                    <div class="mb-3">
                        <label for="pet-input-birthdate" class="form-label">Birthdate: </label>
                        <input type="date" class="form-control" id="pet-input-birthdate">
                    </div>
                    <div class="mb-3">
                        <label for="pet-input-weight" class="form-label">Weight(KG): </label>
                        <input type="number" class="form-control" id="pet-input-weight">
                    </div>
                    <div class="mb-3">
                        <label for="pet-input-height" class="form-label">Height(CM): </label>
                        <input type="number" class="form-control" id="pet-input-height">
                    </div>
                    <div class="mb-3">
                        <select id="sex">
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <select id="sex">
                            <option value="" disabled selected>Selecciona una opción</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Password: </label>
                        <input type="text" class="form-control" id="description">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Password: </label>
                        <input type="text" class="form-control" id="description">
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </article>
        </section>

</body>

</html>