@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinary";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
    <title>Document</title>
</head>

<body>

    <section class="py-3">
        <article id="display-zone" class="d-flex flex-wrap w-100 gap-2 justify-content-center">
            <div class="card">
                <img src="https://as1.ftcdn.net/v2/jpg/05/27/18/38/1000_F_527183877_q7ncmoJYvJEfaVG7wtHakCb9IRJliR5K.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Destroyer of worlds</h5>
                    <p class="card-text">Description: This beatiful bunny came in excellent conditions for a leg surgery
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">BirthDate: 12/12/2004</li>
                    <li class="list-group-item">Weight: 12kg</li>
                    <li class="list-group-item">Height: 30cm</li>
                    <li class="list-group-item">Sex: Male</li>
                    <li class="list-group-item">Breeding status: False</li>
                    <li class="list-group-item">Race: Bunny</li>
                </ul>
            </div>
            <div class="card">
                <img src="https://as1.ftcdn.net/v2/jpg/05/27/18/38/1000_F_527183877_q7ncmoJYvJEfaVG7wtHakCb9IRJliR5K.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Destroyer of worlds</h5>
                    <p class="card-text">Description: This beatiful bunny came in excellent conditions for a leg surgery
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">BirthDate: 12/12/2004</li>
                    <li class="list-group-item">Weight: 12kg</li>
                    <li class="list-group-item">Height: 30cm</li>
                    <li class="list-group-item">Sex: Male</li>
                    <li class="list-group-item">Breeding status: False</li>
                    <li class="list-group-item">Race: Bunny</li>
                </ul>
            </div>
                        <div class="card">
                <img src="https://as1.ftcdn.net/v2/jpg/05/27/18/38/1000_F_527183877_q7ncmoJYvJEfaVG7wtHakCb9IRJliR5K.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Destroyer of worlds</h5>
                    <p class="card-text">Description: This beatiful bunny came in excellent conditions for a leg surgery
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">BirthDate: 12/12/2004</li>
                    <li class="list-group-item">Weight: 12kg</li>
                    <li class="list-group-item">Height: 30cm</li>
                    <li class="list-group-item">Sex: Male</li>
                    <li class="list-group-item">Breeding status: False</li>
                    <li class="list-group-item">Race: Bunny</li>
                </ul>
            </div>
                                    <div class="card">
                <img src="https://as1.ftcdn.net/v2/jpg/05/27/18/38/1000_F_527183877_q7ncmoJYvJEfaVG7wtHakCb9IRJliR5K.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Destroyer of worlds</h5>
                    <p class="card-text">Description: This beatiful bunny came in excellent conditions for a leg surgery
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">BirthDate: 12/12/2004</li>
                    <li class="list-group-item">Weight: 12kg</li>
                    <li class="list-group-item">Height: 30cm</li>
                    <li class="list-group-item">Sex: Male</li>
                    <li class="list-group-item">Breeding status: False</li>
                    <li class="list-group-item">Race: Bunny</li>
                </ul>
            </div>
        </article>


    </section>


</body>

</html>
