@page
@model IndexModel
@{
    ViewData["Title"] = "Veterinary";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true">
    <title>Document</title>
</head>

<body>

    <section class="py-3">
        <article id="display-zone" class="d-flex flex-wrap w-100 gap-2 justify-content-center">
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pepe</h5>
                    </p>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Height: 30cm</li>

                </ul>
            </div>
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pepe</h5>

                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Height: 30cm</li>

                </ul>
            </div>
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pepe</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Height: 30cm</li>
                </ul>
            </div>
            <div class="card">
                <img src="https://t3.ftcdn.net/jpg/02/43/12/34/360_F_243123463_zTooub557xEWABDLk0jJklDyLSGl2jrr.jpg"
                    class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pepe</h5>
                </div>
                <ul class="list-group list-group-flush">

                    <li class="list-group-item">Height: 30cm</li>

                </ul>
            </div>
        </article>


    </section>


</body>

</html>
